<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Data Dashboard</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!-- Include D3.js library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>

<h1>Energy Data Dashboard</h1>
<!-- SVG container for D3.js visualization -->
<svg id="visualization" width="800" height="600"></svg>

<!-- JavaScript code for D3.js visualization -->
<script>
    // Your D3.js code goes here
</script>

<!--<script src="lineChartWithAnnotation.js" type="module"></script>
<script>
    window.onload = function() {
        addXmlFileChangeInput();
        addOffsetInput();
        generateAndDrawDataCharts();
    }
</script>-->

<!--<table>
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Energy Value</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data : ${energyDashboardList}">
        <td th:text="${data.timestamp}"></td>
        <td th:text="${data.energyValue}"></td>
    </tr>
    </tbody>
</table>-->

</body>
</html>